@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,700');
@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,700');
/* DEFAULT CSS STYLES */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 10px;
}
body{
  background-color: #EEE;
  padding: 20px;
  min-height: 1000px;
  position: relative;
}
h1,h2,h3,h4{
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  letter-spacing: 2px;
}
p, li, a{
  font-size: 1.85rem;
  font-family: 'PT Sans', sans-serif;
  font-weight: 400;
}
h1{
  font-size: 4rem;
}
h1.title{
  text-align: center;
  margin-bottom: 20px;
}
h1.title::after{
  content: '';
  display: block;
  border-bottom: 3px solid #333;
  width: 100px;
  margin: 10px auto;
}
h2{
  font-size: 2.5rem;
}
h3{
  font-size: 2.5rem;
}
.shadow{
  box-shadow: 0 2px 5px rgba(0,0,0,.26);
}
img.logo{
  display: block;
  margin: 10px auto;
}
.message-box{
  background-color: #333;
  width: 100%;
  max-width: 400px;
  height: 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 100px;
  right: 0;
  margin-bottom: 20px;
}
.message-box img{
  width: 100px;
  height: 100px;
}
.message-box p{
  color: #f7f7f7;
  padding: 10px 20px;
  font-size: 1.35rem;
  line-height: 1.5;
}
.message-box.shown{
  animation: box-animation 0.55s cubic-bezier(0, 0, 0, 2.85) forwards;
}
/* NAV STYLES FINAL */
nav {
  display: flex;
  flex-direction: row;
}
nav a{
  padding: 10px;
  text-decoration: none;
  color:#333;
}
nav a.active{
  background-color: #333;
  color: #fff;
}
nav a:hover{
  text-decoration: line-through;
  cursor: pointer;
}

header{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.social-media img{
  width: 35px;
  margin-right: 5px;
}

/* MAIN STYLES FINAL */
header{
  background-color: #FFF;
  width: 100%;
  max-width: 1440px;
  margin-bottom: 20px;
  padding: 20px;
}
main{
  background-color: #FFF;
  width: 100%;
  max-width: 1440px;
}
footer{
  background-color: #FFF;
  width: 100%;
  max-width: 1440px;
  padding: 20px;
  margin-top: 20px;
}
p.copyright, p.copyright a{
  font-size: 1.3rem;
  text-align: center;
  color: #333;
}


.grid{
  width: 100%;
  margin: 0 auto;
  padding: 20px;
  display: grid;
  grid-template-columns:2fr 2fr 2fr 2fr;
  grid-template-rows: auto;
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
  grid-template-areas:
  "featured-img featured-img featured-details featured-details"
  "blog-grid blog-grid blog-grid blog-grid";
}
.featured-img{
  grid-area: featured-img;
  background-color: #333;
  background-image: url(/images/blog-header-large.jpg);
  background-size: cover;
  background-position: center center;
}
.featured-img img{
  object-fit: contain;
  width: 100%;
}
.featured-details{
  grid-area: featured-details;
  padding: 40px;
}
.featured-details h2{
  margin-bottom: 20px;
}
.featured-details p{
  width: 100%;
  line-height: 1.5;
  margin-bottom: 20px;
}
.read-more-btn{
  margin-top: 20px;
  padding: 10px 20px;
  border: 2px solid #428BCA;
  display: inline-block;
  transition: all 0.25s ease-in-out;
  cursor: pointer;
}
.read-more-btn:hover{
  background-color: #428BCA;
}
.read-more-btn p, .read-more-btn p a {
  font-weight: 800;
  transition: all 0.25s ease-in-out;
  margin-bottom: 0;
  text-decoration: none;
  color: #333;
}
.read-more-btn:hover p a{
  color: #fff;
}
.blog-grid{
  grid-area: blog-grid;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  grid-auto-flow: row;
  grid-column-gap: 2em;
}
.blog-grid a{
  color: #333;
  text-decoration: none;
}
p.small{
  font-size: 1.4rem;
  margin-bottom: 10px;
}
.blog-grid article h2{
  margin-bottom: 10px;
}
.blog-grid article img{
  width: 100%;
  margin-bottom: 10px;
}
.content-block{
  padding: 0 20px;
}
.blog-grid article{
margin-bottom: 20px;
}
.blog-grid article:hover h2{
  text-decoration: underline;
}


/* Blog Post CSS */

.post-grid{
  width: 100%;
  margin: 0 auto;
  padding: 20px;
  display: grid;
  grid-template-columns:2fr 2fr 2fr;
  grid-template-rows: auto;
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
  grid-template-areas:
  "blog-post-img blog-post-img blog-post-img"
}
.post-grid .post-image{
  width: 100%;
  grid-area: blog-post-img;
  height: 400px;
  background-image: url(/images/blog-header-large.jpg);
  background-size: cover;
  background-position: center center;
}





@media screen and (max-width: 768px){
  .grid{
    width: 100%;
    margin: 0 auto;
    padding: 20px;
    display: grid;
    grid-template-columns:2fr 2fr;
    grid-template-rows: auto auto;
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;
    grid-template-areas:
    "featured-img featured-img"
    "featured-details featured-details"
    "blog-grid blog-grid";
  }
  .featured-img{
    width: 100%;
    height: 400px;
    /* width and height needed to be specified due to nothing on the same row */
  }
  .blog-grid{
    grid-area: blog-grid;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    grid-auto-flow: row;
    grid-column-gap: 2em;
  }
  .blog-grid article{
    transition: all 0.25s ease-in-out;
    overflow: hidden;
  }
  .featured-details{
    padding: 20px;
  }
}
@media screen and (max-width: 575px){
    header{
      flex-direction: column;
    }
    nav{
      margin-bottom: 20px;
    }
    .grid{
      width: 100%;
      margin: 0 auto;
      padding: 20px;
      display: grid;
      grid-template-columns:1fr;
      grid-template-rows: auto auto;
      grid-column-gap: 2rem;
      grid-row-gap: 2rem;
      grid-template-areas:
      "featured-img"
      "featured-details"
      "blog-grid";
    }
    .featured-img{
      width: 100%;
      height: 200px;
      /* width and height needed to be specified due to nothing on the same row */
    }
    .featured-details{
      padding: 0;
    }
    .blog-grid{
      grid-area: blog-grid;
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      grid-template-rows: auto;
      grid-auto-flow: row;
      grid-column-gap: 2em;
    }
}
