@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,700');
@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,700');
/* DEFAULT CSS STYLES */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 10px;
}
body{
  background-color: #EEE;
  padding: 20px;
  min-height: 1000px;
  position: relative;
}
h1,h2,h3,h4{
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  letter-spacing: 2px;
}
p, li, a{
  font-size: 1.85rem;
  font-family: 'PT Sans', sans-serif;
  font-weight: 400;
}
p.advert-text{
  font-size: 1.3rem;
  text-align: center;
  margin-bottom: 5px;
}
p.content{
  width: 100%;
  max-width: 650px;
  line-height: 1.75;
  font-weight: 400;
  margin-bottom: 20px;
}
p.content > a{
  font-size: 1.85rem;
  color: #333;
  padding: 5px;
}
p.small{
  font-size: 1.4rem;
  margin-bottom: 5px;
  color: #c1c1c1;
}
strong{
  font-size: 1.85rem;
}
blockquote{
  border-left: 10px solid #333;
  padding: 10px 20px;
  width: 100%;
  max-width: 600px;
  display: inline-block;
}
blockquote p{
  line-height: 1.5;
  font-style: italic;
}
ul{
  margin-left: 40px;
}
ul li{
  margin-bottom: 10px;
}
h1{
  font-size: 4rem;
}
h1 span{
  font-size: 2.5rem;
  vertical-align: middle;

}
h1.title{
  text-align: center;
  margin-bottom: 20px;
}
h1.title::after{
  content: '';
  display: block;
  border-bottom: 3px solid #333;
  width: 100px;
  margin: 10px auto;
}
h2{
  font-size: 2.5rem;
}
h3{
  font-size: 2.5rem;
}
.shadow{
  box-shadow: 0 2px 5px rgba(0,0,0,.26);
}
.button{
  padding: 10px 30px;
  margin-top: 15px;
  margin-right: 15px;
  border:3px solid #428bca;
  background-color: #fff;
  display: inline-block;
  border-radius: 5px;
  transition: all 0.25s ease;
}
.button > p{
  font-weight: bold;
}
.button:hover{
  cursor: pointer;
  background-color: #428bca;
}
.button:hover > p{
  color: #fff;
}
.show-grid{
  animation: grid-animation 0.5s linear forwards;
}
@keyframes grid-animation {
    0% {border: 3px solid rgba(255,41,41,0);}
    100% {border: 3px solid rgba(255,41,41,1);}
}
.show-mobile{
  width: 425px !important;
}
.close-btn{
  position: absolute;
  top: 30px;
  right: 30px;
}
.close-btn:hover{
  cursor: pointer;
}
/* CSS FOR CODE BOX */
.overlay{
  display: none;
  width: 100%;
  height: 100vh;
  background-color: rgba(255,255,255,0.75);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
pre{
  display: none;
  width: 600px;
  margin: 70px auto;
  font-size: 1.6rem !important;
  padding: 10px !important;
  border: none;
  background-color: #212121;
}
pre.prettyprint-inline {
  display: block;
  margin: 20px auto;
  text-align: left;
}
pre span.pln, pre span.pun, pre span.lit, pre span.kwd{
  font-size: 1.5rem;
}
pre span.pln {
  color: #ede7e7;
}
pre span.pun, pre span.opn, pre span.clo, pre span.lit, pre span.kwd {
  color: #e5e5dc;
}
.hide-code{
  background-color: #fff;
  position: absolute;
  top: 0;
  right: 0;
}
img.logo{
  display: block;
  margin: 10px auto;
}
/* NAV STYLES */

nav{
    display: flex;
    flex-direction: column;

}
nav a{
  font-size: 1.7rem;
  font-family: 'Montserrat', sans-serif;
  line-height: 1.5;
  color: #000;
  font-weight: 800;
  letter-spacing: 1px;
  text-decoration: none;
  padding: 5px;
  transition: all 0.25s ease;
  margin-bottom: 10px;
}
nav a:hover, p.content > a:hover{
  background-color: #333;
  color: #fff;
}
/* CONTENT STYLES */

.main-container{
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}
.button-wrapper{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 20px;
}
.grid.example-one{
  display: grid;
  margin: 0 auto;
  grid-template-columns: 250px 8fr; /* divides area into 6 */
  grid-template-rows: auto auto;
  grid-row-gap: 20px;
  background-color: #FFF;
}

.grid.example-one header{
  grid-column: 1 / 3;
  grid-row: 1 / 2;
  padding: 20px 20px 0 20px;
}
.grid.example-one .side-left{
  grid-column: 1 / 2;
  grid-row: 2 / 4;
  padding: 20px;
  background-color: #e3e3e3;
}
.grid.example-one article.post{
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  padding: 20px;

}
.grid.example-one footer{
  grid-column: 2 / 3;
  grid-row: 3 / 4;
  padding: 20px;
  background-color: #333;
}
.grid.example-one footer p{
  text-align: center;
  font-size: 1.4rem;
  color: #ddd;
}

/* EXAMPLE TWO CSS */
.blog-grid{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  grid-auto-flow: row;
}
.blog-grid article{
  padding: 0 20px 20px 20px;
  transition: all 0.25s ease-in-out;
}
.blog-grid article:hover{
  transform: scale(1.05);
  cursor: pointer;
}
.blog-grid article h2{
  margin-bottom: 10px;
}
.blog-grid article img{
  width: 100%;
  margin-bottom: 10px;
}
.content-block{
  padding: 0 20px;
}

/* EXAMPLE THREE CSS */

.grid-template-example{
  padding: 20px;
  display: grid;
  grid-template-columns: 1.3fr 7fr 2.5fr;
  grid-template-rows: auto;
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
  grid-template-areas:
  "header header header"
  "breadcrumbs breadcrumbs breadcrumbs"
  "leftside main rightside"
  "leftside footer footer";
}
.grid-template-header{
  grid-area: header;
  padding: 20px 20px 20px 0;
  background-image: url(/images/blog-header.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.grid-template-header h2, .grid-template-header h3 {
  color: #333;
  font-size: 3.5rem;
  background-color:rgba(255,255,255,0.75);
  padding: 20px 20px 0 20px;
  display: inline-block;
  width: 100%;
  max-width: 650px;
}
.grid-template-header h3{
  font-size: 1.8rem;
  color: rgba(0,0,0,0.60);
  padding-bottom: 20px;
}
.grid-template-breadcrumbs{
  grid-area: breadcrumbs;
}
.grid-template-leftside{
  grid-area: leftside;
  padding: 20px;
  background-color: #E3E3E3;
  border-right: 3px solid #333;
}
.breadcrumbs{
  list-style: none;
  margin-left: 0 !important;
}
.breadcrumbs li{
  display: inline-block;
  margin-left: 10px;
}
.grid-template-main{
  grid-area: main;
  padding: 0 20px 20px 20px;
  max-width: 600px;
  margin: 0 auto;
}
.grid-template-main p, .grid-template-main h3{
  margin-bottom: 15px;
}
.grid-template-main h4{
  font-size: 2rem;
}
.grid-template-rightside{
  grid-area: rightside;
  min-width: 200px;
}
.grid-template-rightside img{
  width: 100%;
  max-width: 300px;
  display: block;
  margin: 0 auto;
}
.grid-template-footer{
  grid-area: footer;
  padding: 20px;
}

ul.archive{
  margin: 10px 0 0 5px;
  list-style-type: none;

}
ul.archive a{
  color: #000;
  padding: 0;
  text-decoration: none;;
}
ul.archive a:hover{
  text-decoration: underline;
}
ul.archive a li{
  margin: 0;
  line-height: 1.75;
  font-size: 1.5rem;
}




@media screen and (max-width: 1050px) {
  .blog-grid{
    grid-template-columns: repeat(2, 1fr);
  }
  .grid-template-example{
    grid-template-columns: 1fr 2fr;
    grid-template-areas:
    "header header"
    "leftside main"
    "rightside main"
    "footer footer";
  }
}
@media screen and (max-width: 768px) {
  .grid.example-one{
    grid-template-columns: 1fr;
  }
  .grid.example-one header{
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }
  .grid.example-one .side-left{
    grid-column: 1 / 2;
    grid-row: 3 / 4;
  }
  .grid.example-one article.post{
    grid-column: 1 / 2;
    grid-row: 2 / 3;
  }
  .grid.example-one footer{
    grid-column: 1 / 2;
    grid-row: 4 / 5;
  }
  .grid-template-example{
    grid-template-columns: 1fr;
    grid-template-areas:
    "header"
    "main"
    "leftside"
    "rightside"
    "footer";
  }
}
@media screen and (max-width: 560px) {
  .blog-grid{
    grid-template-columns: repeat(1, 1fr);
  }
}
